---
http_interactions:
- request:
    method: get
    uri: https://fake.host.com:8443/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"APIResourceList","groupVersion":"v1","resources":[{"name":"bindings","singularName":"","namespaced":true,"kind":"Binding","verbs":["create"]},{"name":"componentstatuses","singularName":"","namespaced":false,"kind":"ComponentStatus","verbs":["get","list"],"shortNames":["cs"]},{"name":"configmaps","singularName":"","namespaced":true,"kind":"ConfigMap","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["cm"]},{"name":"endpoints","singularName":"","namespaced":true,"kind":"Endpoints","verbs":["create","delete","deletecollection","get","list","patch","update","watch"],"shortNames":["ep"]},{"name":"events","singularName":"","namespaced":true,"kind":"Event","verbs":["create","delete","deletecollection","get","list","p[...]
- request:
    method: delete
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"namespaces
        \"kubeclient-ns\" not found","reason":"NotFound","details":{"name":"kubeclient-ns","kind":"namespaces"},"code":404}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
- request:
    method: delete
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/services/guestbook
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"services
        \"guestbook\" not found","reason":"NotFound","details":{"name":"guestbook","kind":"services"},"code":404}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
- request:
    method: delete
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/services/redis-master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"services
        \"redis-master\" not found","reason":"NotFound","details":{"name":"redis-master","kind":"services"},"code":404}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
- request:
    method: delete
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/services/redis-slave
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"services
        \"redis-slave\" not found","reason":"NotFound","details":{"name":"redis-slave","kind":"services"},"code":404}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
- request:
    method: delete
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/replicationcontrollers/guestbook
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"replicationcontrollers
        \"guestbook\" not found","reason":"NotFound","details":{"name":"guestbook","kind":"replicationcontrollers"},"code":404}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
- request:
    method: delete
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/replicationcontrollers/redis-master
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"replicationcontrollers
        \"redis-master\" not found","reason":"NotFound","details":{"name":"redis-master","kind":"replicationcontrollers"},"code":404}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
- request:
    method: delete
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/replicationcontrollers/redis-slave
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"replicationcontrollers
        \"redis-slave\" not found","reason":"NotFound","details":{"name":"redis-slave","kind":"replicationcontrollers"},"code":404}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
- request:
    method: post
    uri: https://fake.host.com:8443/api/v1/namespaces
    body:
      encoding: UTF-8
      string: '{"metadata":{"name":"kubeclient-ns"},"kind":"Namespace","apiVersion":"v1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Namespace","apiVersion":"v1","metadata":{"name":"kubeclient-ns","selfLink":"/api/v1/namespaces/kubeclient-ns","uid":"806e4e02-2132-11e9-87ff-b2fd1d6b143f","resourceVersion":"4541","creationTimestamp":"2019-01-26T06:20:39Z"},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
- request:
    method: post
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/services
    body:
      encoding: UTF-8
      string: '{"metadata":{"namespace":"kubeclient-ns","labels":{"name":"guestbook"},"name":"guestbook"},"spec":{"selector":{"app":"guestbook"},"ports":[{"port":3000,"targetPort":"http-server"}]},"type":"LoadBalancer","kind":"Service","apiVersion":"v1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Service","apiVersion":"v1","metadata":{"name":"guestbook","namespace":"kubeclient-ns","selfLink":"/api/v1/namespaces/kubeclient-ns/services/guestbook","uid":"80736ef9-2132-11e9-87ff-b2fd1d6b143f","resourceVersion":"4544","creationTimestamp":"2019-01-26T06:20:39Z","labels":{"name":"guestbook"}},"spec":{"ports":[{"protocol":"TCP","port":3000,"targetPort":"http-server"}],"selector":{"app":"guestbook"},"clusterIP":"10.107.15.245","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
- request:
    method: post
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/services
    body:
      encoding: UTF-8
      string: '{"metadata":{"namespace":"kubeclient-ns","labels":{"app":"redis","role":"master"},"name":"redis-master"},"spec":{"selector":{"app":"redis","role":"master"},"ports":[{"port":6379,"targetPort":"redis-server"}]},"kind":"Service","apiVersion":"v1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Service","apiVersion":"v1","metadata":{"name":"redis-master","namespace":"kubeclient-ns","selfLink":"/api/v1/namespaces/kubeclient-ns/services/redis-master","uid":"8079ad20-2132-11e9-87ff-b2fd1d6b143f","resourceVersion":"4551","creationTimestamp":"2019-01-26T06:20:39Z","labels":{"app":"redis","role":"master"}},"spec":{"ports":[{"protocol":"TCP","port":6379,"targetPort":"redis-server"}],"selector":{"app":"redis","role":"master"},"clusterIP":"10.98.98.196","type":"ClusterIP","sessionAffinity":"None"},"status":{"loadBalancer":{}}}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
[...]
- request:
    method: post
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/replicationcontrollers
    body:
      encoding: UTF-8
      string: '{"metadata":{"namespace":"kubeclient-ns","labels":{"app":"guestbook","role":"slave"},"name":"guestbook"},"spec":{"selector":{"app":"guestbook"},"template":{"metadata":{"labels":{"app":"guestbook"}},"spec":{"containers":[{"name":"guestbook","image":"kubernetes/guestbook:v2","ports":[{"name":"http-server","containerPort":3000}]}]}},"replicas":3},"kind":"ReplicationController","apiVersion":"v1"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ReplicationController","apiVersion":"v1","metadata":{"name":"guestbook","namespace":"kubeclient-ns","selfLink":"/api/v1/namespaces/kubeclient-ns/replicationcontrollers/guestbook","uid":"8086d508-2132-11e9-87ff-b2fd1d6b143f","resourceVersion":"4556","generation":1,"creationTimestamp":"2019-01-26T06:20:39Z","labels":{"app":"guestbook","role":"slave"}},"spec":{"replicas":3,"selector":{"app":"guestbook"},"template":{"metadata":{"creationTimestamp":null,"labels":{"app":"guestbook"}},"spec":{"containers":[{"name":"guestbook","image":"kubernetes/guestbook:v2","ports":[{"name":"http-server","containerPort":3000,"protocol":"TCP"}],"resources":{},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"IfNotPresent"}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","securityContext":{},"schedulerName":"default-scheduler"}}},"status":{"replicas":0}}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
[...]
- request:
    method: get
    uri: https://fake.host.com:8443/api/v1/namespaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"NamespaceList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces","resourceVersion":"4572"},"items":[{"metadata":{"name":"default","selfLink":"/api/v1/namespaces/default","uid":"9d6ef6a7-212c-11e9-87ff-b2fd1d6b143f","resourceVersion":"11","creationTimestamp":"2019-01-26T05:38:31Z"},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-public","selfLink":"/api/v1/namespaces/kube-public","uid":"9fda160f-212c-11e9-87ff-b2fd1d6b143f","resourceVersion":"39","creationTimestamp":"2019-01-26T05:38:35Z"},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kube-system","selfLink":"/api/v1/namespaces/kube-system","uid":"9d74f81b-212c-11e9-87ff-b2fd1d6b143f","resourceVersion":"12","creationTimestamp":"2019-01-26T05:38:31Z","annotations":{"kubectl.kubernetes.io/last-applied-configuration":"{\"apiVersion\":\"v1\",\"kind\":\"Namespace\",\"metadata\":{\"annotations\":{},\"name\":\"kube-system\",\"namespace\":\"\"}}\n"}},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}},{"metadata":{"name":"kubeclient-ns","selfLink":"/api/v1/namespaces/kubeclient-ns","uid":"806e4e02-2132-11e9-87ff-b2fd1d6b143f","resourceVersion":"4541","creationTimestamp":"2019-01-26T06:20:39Z"},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Active"}}]}

'
  recorded_at: Sat, 26 Jan 2019 06:20:38 GMT
[...]
- request:
    method: get
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/replicationcontrollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ReplicationControllerList","apiVersion":"v1","metadata":{"selfLink":"/api/v1/namespaces/kubeclient-ns/replicationcontrollers","resourceVersion":"4581"},"items":[{"metadata":{"name":"guestbook","namespace":"kubeclient-ns","selfLink":"/api/v1/namespaces/kubeclient-ns/replicationcontrollers/guestbook","uid":"8086d508-2132-11e9-87ff-b2fd1d6b143f","resourceVersion":"4574","generation":1,"creationTimestamp":"2019-01-26T06:20:39Z","labels":{"app":"guestbook","role":"slave"}},"spec":{"replicas":3,"selector":{"app":"guestbook"},"template":{"metadata":{"creationTimestamp":null,"labels":{"app":"guestbook"}},"spec":{"containers":[{"name":"guestbook","image":"kubernetes/guestbook:v2","ports":[{"name":"http-server","containerPort":3000,"protocol":"TCP"}],"resources":{},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"IfNotPresent"}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","securityContext":{},"schedulerName":"default-scheduler"}}},"status":{"replicas":3,"fullyLabeledReplicas":3,"observedGeneration":1}},{"metadata":{"name":"redis-master","namespace":"kubeclient-ns","selfLink":"/api/v1/namespaces/kubeclient-ns/replicationcontrollers/redis-master","uid":"808ced1d-2132-11e9-87ff-b2fd1d6b143f","resourceVersion":"4578","generation":1,"creationTimestamp":"2019-01-26T06:20:40Z","labels":{"app":"redis","role":"master"}},"spec":{"replicas":1,"selector":{"app":"redis","role":"master"},"template":{"metadata":{"creationTimestamp":null,"labels":{"app":"redis","role":"master"}},"spec":{"containers":[{"na[...]
[...]
- request:
    method: delete
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns/replicationcontrollers/guestbook
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"ReplicationController","apiVersion":"v1","metadata":{"name":"guestbook","namespace":"kubeclient-ns","selfLink":"/api/v1/namespaces/kubeclient-ns/replicationcontrollers/guestbook","uid":"8086d508-2132-11e9-87ff-b2fd1d6b143f","resourceVersion":"4603","generation":2,"creationTimestamp":"2019-01-26T06:20:39Z","deletionTimestamp":"2019-01-26T06:20:40Z","deletionGracePeriodSeconds":0,"labels":{"app":"guestbook","role":"slave"},"finalizers":["orphan"]},"spec":{"replicas":3,"selector":{"app":"guestbook"},"template":{"metadata":{"creationTimestamp":null,"labels":{"app":"guestbook"}},"spec":{"containers":[{"name":"guestbook","image":"kubernetes/guestbook:v2","ports":[{"name":"http-server","containerPort":3000,"protocol":"TCP"}],"resources":{},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","imagePullPolicy":"IfNotPresent"}],"restartPolicy":"Always","terminationGracePeriodSeconds":30,"dnsPolicy":"ClusterFirst","securityContext":{},"schedulerName":"default-scheduler"}}},"status":{"replicas":3,"fullyLabeledReplicas":3,"observedGeneration":1}}

'
  recorded_at: Sat, 26 Jan 2019 06:20:39 GMT
[...]
- request:
    method: delete
    uri: https://fake.host.com:8443/api/v1/namespaces/kubeclient-ns
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"kind":"Namespace","apiVersion":"v1","metadata":{"name":"kubeclient-ns","selfLink":"/api/v1/namespaces/kubeclient-ns","uid":"806e4e02-2132-11e9-87ff-b2fd1d6b143f","resourceVersion":"4612","creationTimestamp":"2019-01-26T06:20:39Z","deletionTimestamp":"2019-01-26T06:20:40Z"},"spec":{"finalizers":["kubernetes"]},"status":{"phase":"Terminating"}}

'
  recorded_at: Sat, 26 Jan 2019 06:20:39 GMT
recorded_with: VCR 4.0.0
