name: CI
on:
  pull_request:
  push:
    branches-ignore:
    - dependabot/*
    - renovate/*
  schedule:
  - cron: 0 0 * * 0
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        ruby:
        - '3.1'
        - '3.2'
        - '3.3'
        - '3.4'
        - ruby-head
        - truffleruby-head
        gemfile:
        - faraday-1
        - faraday-2
        os:
        - macos-latest
        - ubuntu-latest
    runs-on: "${{ matrix.os }}"
    timeout-minutes: 10
    env:
      BUNDLE_GEMFILE: test/gemfiles/Gemfile.${{ matrix.gemfile }}
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: "${{ matrix.ruby }}"
        bundler-cache: true
    - name: Run tests
      run: bin/ci
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '4.0.0'
        bundler-cache: true
    - name: Run rubocop
      run: bundle exec rake rubocop
