name: Update k0s Certs
on:
  schedule:
  - cron: 0 0 1 * *
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  update-certs-k0s:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: '4.0.0'
        bundler-cache: true
    - name: Check k0s Certs
      id: check-certs-expired
      run: bundle exec ruby test/config/test_k0s_certs_expired.rb
      continue-on-error: true
    - name: Update k0s Certs
      if: steps.check-certs-expired.outcome == 'failure'
      run: bundle exec ruby test/config/update_certs_k0s.rb
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      if: steps.check-certs-expired.outcome == 'failure'
      with:
        add-paths: test/config/*
        commit-message: Update k0s Certs
        branch: update_k0s_certs
        author: ManageIQ Bot <bot@manageiq.org>
        committer: ManageIQ Bot <bot@manageiq.org>
        assignees: agrare
        delete-branch: true
        labels: enhancement
        push-to-fork: miq_bot/kubeclient
        title: Update k0s Certs
        body: Update the saved kubeclient certificates
        token: "${{ secrets.PR_TOKEN }}"
